[submodule "themes/hugo-now"]
	path = themes/hugo-now
	url = https://github.com/mikeblum/hugo-now.git
[submodule "ab-hugo"]
	path = ab-hugo
	url = https://github.com/ApplyBoard/ab-hugo.git
	branch = master
